<!--Tag Editing-->
<div ng-show="editTags">
    <form ng-submit="addTag()">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="newTag" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="addTag()"><span class="glyphicon glyphicon-plus"/></button>
            </span>
        </div>
    </form>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="tag in tags">
            {{tag}}
            <a ng-click="deleteTag(tag)"><span class="pull-right"><span class="glyphicon glyphicon-remove"></span></span></a>
        </li>
    </ul>
    <a class="btn btn-primary" ng-click="editTags=false; addTag(); saveNoNav();">Save</a>
</div>

<!--Tag CSV display-->
<div ng-show="!editTags" class="well well-sm">
    <span ng-repeat="tag in tags"><span ng-show="!$first">, </span>{{tag}}</span>
    <a ng-click="editTags=true" style="cursor: pointer">&nbsp;<span class="glyphicon glyphicon-pencil pull-right"></span></a>
</div>