<div class="semi-modal" ng-show="showSaved">
    <div class="modal-dialog">
            <h4 class="alert alert-info">Saved...</h4>
    </div><!-- /.modal-dialog -->
</div>

<div class="container">
    <form>
        <div class="row">
        <div class="col-md-12">
        <a ng-href="#/library"><span class="glyphicon glyphicon-arrow-left"></span> Library</a>

        <div class="ng-hide">
            <h4>System ID</h4>
            <input ng-model="book.id" class="form-control"/>
            <h4>Library ID</h4>
            <input ng-model="book.libraryId" class="form-control"/>
        </div>

        <h3 ng-show="!editTitle">{{book.title}} <small><a ng-click="swapTitle()" style="cursor: pointer"><span class="glyphicon glyphicon-pencil"></span></a></small></h3>

        <div class="input-group ng-hide" ng-show="editTitle">
            <span class="input-group-addon"><a ng-click="swapTitle()" style="cursor: pointer"><span class="glyphicon glyphicon-ok"></span></a></span>
            <input ng-model="book.title" class="form-control" ui-keypress="{13:'swapTitle()'}" placeholder="Title">
        </div>

        <h4>Author</h4>
        <input ng-model="book.author" class="form-control"/>
        <br/>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>Notes</strong></div>
            <div class="panel-body">
                <textarea ng-model="book.notes" class="form-control"></textarea>
            </div>
        </div>

        <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}">{{alert.msg}}</div>
        <div>
            <input type="submit" value="Save" class="btn btn-primary" ng-click="save()" />
            <input type="submit" value="Cancel" class="btn" ng-click="cancel()" />
        </div>
        </div>
        </div>
    </form>

    <br />
    <div class="row">
        <div class="col-md-6">
            <h4>Tags</h4>
            <div bb-tags></div>
            <div class="alert alert-warning"><strong>Coming Soon!</strong> You can add and remove tags, but they aren't terribly useful yet.</div>
        </div>
        <div class="col-md-6">
            <h4>Ideas</h4>
            <div class="alert alert-info"><strong>Coming Soon!</strong></div>
            <input class="form-control" ng-hide="true">
        </div>
    </div>

</div>