<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="input-group">
                     <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" /></button>
                     </span>
                    <input type="text" class="form-control" ng-model="search">
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <strong>Books</strong>
            <ul class="list-group">
                <li ng-repeat="libraryBook in libraryOverview.books | filter:bookFilter" class="list-group-item">
                    <a ng-href="#/library/book/{{libraryBook.id}}">{{libraryBook.title}} - {{libraryBook.author}}</a>
                    <a ng-click="showDelete(libraryBook)"><span class="pull-right"><span class="glyphicon glyphicon-remove"></span></span></a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <strong>Ideas</strong>
            <div class="alert alert-info">
                <strong>Coming Soon!</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Manage</h3>
            <a ng-href="#/library/addBook" class="btn btn-primary">Add Book</a>
            <a ng-href="#" class="btn btn-primary" ng-disabled="true">Add Idea</a>
        </div>
    </div>
</div>