<form class="form-signin" name="form">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="alert alert-danger" ng-show="errMsg">{{errMsg}}</div>
    <input ng-model="username" type="email" class="form-control" placeholder="Email address" >
    <input ng-model="password" type="password" class="form-control" placeholder="Password" >
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()" ng-disabled="form.$invalid || form.$pristine">Sign in</button>
    <br />
    <br />
    <p>
        Or, <a ng-click="sandboxLogin()" style="cursor: pointer">login</a> as Sandbox to try out the app!
    </p>
</form>
