<div class="container">
    <div class="jumbotron">
        <h1>Bookbud Home</h1>
        <p>Welcome to Bookbud, the simple app to track your homeschooling activities and
            resources.
        </p>
        <p>
            <a class="btn btn-lg btn-primary" ng-href="#/library" ng-show="!showLogin">Get Started »</a>
            <a class="btn btn-lg btn-primary" href="#/login" ng-show="showLogin">Login »</a>
        </p>
    </div>
</div>