<!-- Displays details about the current user. -->
<div>
    <h2>User Information</h2>
    <form>
        <h4 ng-hide="true">SystemID: {{user.id}}</h4>
        <h4>Name</h4>
        <input ng-model="user.name" class="form-control" disabled="true">
        <h4>Email</h4>
        <input ng-model="user.email" class="form-control" disabled="true">
    </form>
    <div ng-show="showReset">
        <br />
        <alert type="'info'" close="closeUpdate()"><strong>Reset Complete!</strong> Sandbox data has been reset.</alert>
    </div>

    <h2>Administration</h2>
    <div class="panel">
        <strong>Export:</strong>
        <!--<a ng-href="/rest/library/export?token={{token}}">Export Library</a>-->
        <a ng-click="prepareDownload()" style="cursor: pointer" ng-show="!showDownload">Prepare Export</a>
        <a download="library.json" ng-href="{{exportUrl}}" style="cursor: pointer" ng-show="showDownload">Download</a>
        <br />
        <ol>
            <li> Click "Prepare Export" then wait for a moment while your library is formatted.</li>
            <li>Click "Download" when the link changes.</li>
        </ol>
    </div>
    <p class="panel"><strong>Reset:</strong> <a ng-click="resetSandboxData()" style="cursor: pointer">Reset Sandbox Data</a> <br />
    Click me to reset the sandbox sample library! (This will not reset your library unless you're trying out the app as "Sandbox".)
    </p>
</div>