<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Bookbud</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="bookbudApp">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- Navigation -->
<div class="container" ng-controller="NavCtrl">      <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Bookbud</a>
        </div>
        <div class="navbar-collapse collapse" id="nav-main">
            <ul id="navList" class="nav navbar-nav" ng-repeat="nav in navItems">
                <li ng-class="{true:'active'}[nav.active]">
                    <a ng-href="{{nav.url}}" ng-cloak>{{nav.name}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/user" ng-show="!showLogin">{{name}} <span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="#/login" ng-show="showLogin">Login <span class="glyphicon glyphicon-log-in"></span></a></li>
                <li><a href="#/home" ng-show="!showLogin" ng-click="logout()">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
                <li><a href="#"></a></li> <!-- spacer -->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<!-- Add your site or application content here -->
<div class="container" ng-view=""></div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src='//www.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script> -->


<script src="bower_components/jquery/jquery.js"></script>
<!--<script src="bower_components/angular/angular.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

<!-- build:js scripts/plugins.js -->
<script src="bower_components/bootstrap/js/affix.js"></script>
<script src="bower_components/bootstrap/js/alert.js"></script>
<script src="bower_components/bootstrap/js/dropdown.js"></script>
<script src="bower_components/bootstrap/js/tooltip.js"></script>
<script src="bower_components/bootstrap/js/modal.js"></script>
<script src="bower_components/bootstrap/js/transition.js"></script>
<script src="bower_components/bootstrap/js/button.js"></script>
<script src="bower_components/bootstrap/js/popover.js"></script>
<script src="bower_components/bootstrap/js/carousel.js"></script>
<script src="bower_components/bootstrap/js/scrollspy.js"></script>
<script src="bower_components/bootstrap/js/collapse.js"></script>
<script src="bower_components/bootstrap/js/tab.js"></script>
<!-- endbuild -->

<!-- build:js scripts/modules.js -->
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/uri.js/src/URI.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/auth.js"></script>
<script src="scripts/services/globalToken.js"></script>
<script src="scripts/services/librarySvc.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/library.js"></script>
<script src="scripts/controllers/nav.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/user.js"></script>
<script src="scripts/controllers/book.js"></script>
<script src="scripts/controllers/modalOkCancel.js"></script>
<script src="scripts/directives/bb-tags.js"></script>
<!-- endbuild -->

<script type="text/javascript">
    $(function(){
        var navMain = $("#nav-main");

        navMain.on("click", "a", null, function () {
            if(navMain.hasClass("in")) {
                navMain.collapse('hide');
            }
        });
    });
</script>
</body>
</html>
